{# Generating an Ansible Inventory from the GNS3 API output #}
---
all:
  children:
    arista:

{{ gns3_output_json[25] }}

{% for line in gns3_output_json %}
{% if line.properties.name is defined %}
{{ line.properties.name }}
{% endif %}
{% endfor %}

{#
{% for key, value in line.iteritems() %}
{{ key }}
{% endfor %}
{% endfor %}
#}